@charset "UTF-8";
/* CSS Document */
#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #multiplepumpkins {
border: black 5px solid;
}
 
#pumpkin-seeds-main {
	display: none;
	border: black 5px solid;
}

.choices {
cursor: pointer;
}

body {
	text-align: center;
	background-color: #B2986A; 
	font-size: 75%
}
a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color: #EF9007; 
	color: #FFFFFF; 
}

a:hover {
	font-size:200%;
	background-color: #F8D49C; 
	color: #FFFFFF; 
}

